[Unit]
Description=Tailscale Canary
Wants=network-pre.target
Before=tailscaled.service

[Service]
Type=exec
WorkingDirectory=/var/run
ExecStart=/usr/sbin/canary
Restart=always

[Install]
WantedBy=multi-user.target
